@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::selection {
  color: #fff;
  background: #664aff;
}

.pacote {
  display: flex;
  top: 0vh;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  position: absolute;
  z-index: 1000;
}

.pacote .inserir-pesq {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.inserir-pesq input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.inserir-pesq.active input {
  border-radius: 5px 5px 0 0;
}

.inserir-pesq .auto-pesq {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.inserir-pesq.active .auto-pesq {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.auto-pesq li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.inserir-pesq.active .auto-pesq li {
  display: block;
}
.auto-pesq li:hover {
  background: #05668d;
  color: rgb(13, 13, 131);
}

.inserir-pesq .lupa {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: rgb(13, 13, 131);
  cursor: pointer;
}
