@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* << Configurção dos Cartões: estrutura geral >> */

/* 1 - Formatando cards de Demostração */

.bloco {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width: 50%;
  margin: 20px; /*superior, direita, inferior e esquerda.*/
  top: 30vh;
  left: 0px;
  align-items: center;
  justify-content: space-evenly;
}

#blocoRandom {
  margin-bottom: 20px;
}

/* 2 - Título do site */

.titulo {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 20px;
  width: 100%;
}

.titulo span {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #343a40;
  transition: 0.5s;
}

.titulo span:hover {
  color: rgb(13, 13, 131);
}

/* 3- Configurações da estrutura maior dos cards */

.bloco .cartao {
  position: relative;
  width: 305px;
  height: 450px;
  background: #343a40;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid #028090;
  margin: 20px 10px;
}

.bloco .cartao::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #05668d;
  clip-path: circle(
    150px at 80% 20%
  ); /* Criação do efeito do path em forma geomética*/
  transition: 0.5s ease-in-out;
}

.bloco .cartao:hover::before {
  clip-path: circle(300px at 80% -20%);
}

/* 4 - Estrutura do card do font awesome */

.fas {
  font-size: 20px;
  color: rgb(13, 13, 131);
}

/* 5 - Estrutura do título no fundo dos cards */

.bloco .cartao::after {
  position: absolute;
  font-size: 125px;
  font-weight: 600;
  font-style: italic;
  color: rgba(225, 225, 255, 0.2);
}

/* 6 - Estrutura da imagem dos produtos dos cards */

.bloco .cartao .imgBloco {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 260px;
  transform: 0.5s;
  z-index: 100;
  transition: 0.5s ease-in-out;
}

.bloco .cartao:hover .imgBloco {
  top: -10%;
  transform: translateY(10%);
}

.bloco .cartao .imgBloco img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.bloco .cartao .imgBloco img#min {
  width: 175px;
  height: 175px;
}

.bloco .cartao .imgBloco img#min1 {
  width: 150px;
  height: 150px;
}

/* 7 - Estrutura das informações no card */

.bloco .cartao .infoCartao {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.bloco .cartao:hover .infoCartao {
  height: 260px;
}

.bloco .cartao .infoCartao h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.bloco .cartao .infoCartao a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.bloco .cartao:hover .infoCartao a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

.bloco .cartao .infoCartao a:hover {
  border: 2px solid #05668d;
  transition: 0.5s;
}

/* a) - informações de botao e cor */

.bloco .cartao .infoCartao .botao,
.bloco .cartao .infoCartao .cor {
  /* <<--Forma */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.bloco .cartao:hover .infoCartao .botao {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.bloco .cartao:hover .infoCartao .cor {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.bloco .cartao .infoCartao .botao h3,
.bloco .cartao .infoCartao .cor h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.bloco .cartao .infoCartao .botao span,
.bloco .cartao .infoCartao .cor span {
  width: 85px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
}

.bloco .cartao .infoCartao .botao span:hover {
  background: #05668d;
}

.bloco .cartao .infoCartao .cor span {
  width: 20px;
  height: 20px;
  background: #05668d;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

/* 8 - Definindo cores (padrão) para os produtos */

.bloco .cartao .infoCartao .cor span:nth-child(2) {
  background: #fff;
}

.bloco .cartao .infoCartao .cor span:nth-child(3) {
  background: #111;
}

.bloco .cartao .infoCartao .cor span:nth-child(4) {
  background: #606060;
}

.bloco .cartao .infoCartao .cor span:hover {
  border: 2px solid #05668d;
}

/* Kits: formatação geral */

/* 1- Configurações da estrutura maior dos kits */

/* Posição dos KITs */
.bloco.blocok {
  /* <<--Forma */
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 100vh; /* <<-- Tamanho da div = tamanho max da tela*/
  min-width: 80%;
  margin: 20px;
  top: 30vh;
  left: 0px;
  align-items: center;
  justify-content: space-evenly;
}

/* Formato do KIT */

.bloco .cartao.kit {
  position: relative;
  width: 430px;
  height: 450px;
  background: #343a40;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid #00b4d8;
  margin: 20px 10px;
}

/* Modificação do Clip-path: Cor */

.bloco .cartao.kit::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b4d8;
  clip-path: circle(
    150px at 80% 20%
  ); /* ciação do efeito do path em forma geomética*/
}

/* Ação: Movimanto do Clip-path do KIT */

.bloco .cartao.kit:hover::before {
  clip-path: circle(300px at 80% -20%);
}

/* 2 - Estrutura das informações no kit */

/* Formatação da Word-Key do KIT */

.bloco .cartao.kit .infoCartao .botao h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
  margin-left: 5px;
}

.bloco .cartao.kit .infoCartao .botao span {
  display: flex;
  cursor: pointer;
  width: 100px;
  height: 65px;
  margin: 0 5px;
  padding: 5px;
  color: #111;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  background: #fff;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.bloco .cartao.kit .infoCartao .botao span:hover {
  background: #05668d;
}
